// Body
$body-bg: #FAFAFA;

// Typography
$font-family-sans-serif: "Varela Round", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue-c: #279AE6;
$blue-dark-c: #277AB1;
$red-c: #FF5B61;
$red-dark-c: #C5363B;
$green-c: #3F8A94;
$green-dark-c: #0A5660;
$grey-c: #727272;
$shadow-c: rgba(0, 0, 0, 0.16);
$grey-light-c: #F5F5F5;